<ns-action-bar title="Current Challenge" [showBackButton]="false">
    <ActionItem ios.position="right"
                android.position="actionBar"
                nsRouterLink="/challenges/replace"
                pageTransition="slideLeft">
        <Label ios:class="fa p-5"
               android:class="fa p-10"
               android:fontSize="24"
               text="&#xf0fe;"></Label>
    </ActionItem>
    <ActionItem ios.position="right"
                android.position="actionBar"
                nsRouterLink="/challenges/edit"
                pageTransition="slideLeft">
        <Label ios:class="fa p-5"
               android:class="fa p-10"
               android:fontSize="24"
               text="&#xf044;"></Label>
    </ActionItem>
</ns-action-bar>
<ScrollView>
    <FlexboxLayout class="page">

        <FlexboxLayout class="flex-centered" *ngIf="!currentChallenge">
            <Label text="No challenge found!"></Label>
            <Button class="btn btn-primary"
                    text="Create One!"
                    nsRouterLink="/challenges/replace"
                    pageTransition="slideLeft"></Button>
        </FlexboxLayout>

        <StackLayout *ngIf="currentChallenge">
            <Label class="h1 text-center"
                   [text]="currentChallenge.title">
            </Label>
            <Label class="body text-center"
                   [text]="currentChallenge.description">
            </Label>
        </StackLayout>

        <GridLayout *ngIf="currentChallenge" class="calendar"
                    rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
            <Label class="week-day-label"
                   *ngFor="let weekDay of weekDays; let i = index"
                   [text]="weekDay" row="0" [col]="i"></Label>
            <FlexboxLayout class="day"
                           *ngFor="let day of currentChallenge.days; let i = index"
                           [row]="getRow(i, day)"
                           [col]="day.dayInWeek"
                           (tap)="onChangeStatus()">
                <Label [text]="day.dayInMonth"></Label>
            </FlexboxLayout>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>
