<ns-action-bar title="Current Challenge" [showBackButton]="false">
    <ActionItem ios.position="right"
                android.position="actionBar"
                nsRouterLink="/challenges/replace"
                pageTransition="slideLeft">
        <Label text="Replace"></Label>
    </ActionItem>
    <ActionItem ios.position="right"
                android.position="actionBar"
                nsRouterLink="/challenges/edit"
                pageTransition="slideLeft">
        <Label text="Edit"></Label>
    </ActionItem>
</ns-action-bar>
<StackLayout>
    <Label class="title"
           text="The current challenge"
           horizontalAlignment="center">
    </Label>
    <Button text="Change Status" (tap)="onChangeStatus()"></Button>
</StackLayout>
