<StackLayout>
    <FlexboxLayout class="indicator-wrapper" *ngIf="isLoading">
        <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
    </FlexboxLayout>
    <TabView androidTabsPosition="bottom" [visibility]="isLoading ? 'collapsed' : 'visible'">
        <StackLayout *tabItem="{ title: 'Today', iconSource: 'res://check' }">
            <page-router-outlet name="today"></page-router-outlet>
        </StackLayout>
        <StackLayout *tabItem="{ title: 'Current Challenge', iconSource: 'res://trophy' }">
            <page-router-outlet name="currentChallenge"></page-router-outlet>
        </StackLayout>
    </TabView>
</StackLayout>
