/* Add mobile styles for the component here.  */
@import "../../../theme/colors";

FlexboxLayout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 300;
}

.btn-success {
  background: $color-success;
  border-color: $color-success;
  color: $color-white;
}

.btn-fail {
  background: $color-fail;
  border-color: $color-fail;
  color: $color-white;
}

.btn-alt {
  font-size: 30;
  margin-top: 15;
}

.animate-slide-up {
  animation-name: slide-up;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(30);
  }

  to {
    transform: translateY(0);
  }
}
