/* Add mobile styles for the component here.  */
@import "../../../theme/colors";

FlexboxLayout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 200;
}

.btn-success {
  background: $color-success;
  border-color: $color-success;
  border-width: 1;
  color: $color-white;

  &:disabled {
    background: $color-grey-dark;
    border-color: $color-grey-dark;
    color: $color-grey-light;
  }
}

.btn-fail {
  background: $color-fail;
  border-color: $color-fail;
  border-width: 1;
  color: $color-white;

  &:disabled {
    background: $color-grey-dark;
    border-color: $color-grey-dark;
    color: $color-grey-light;
  }
}

.btn-alt {
  font-size: 30;
}

.animate-slide-up {
  animation-name: slide-up;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(30);
  }

  to {
    transform: translateY(0);
  }
}
