<FlexboxLayout>
    <Button class="btn btn-success btn-rounded-lg"
            height="60"
            text="Completed"
            *ngIf="action !== 'complete'"
            [isEnabled]="!done"
            (tap)="onAction('complete')"></Button>
    <StackLayout class="btn btn-success btn-rounded-lg"
                 height="60"
                 *ngIf="action === 'complete'">
        <Label class="status-icon" text="&#xf00c;"
               horizontalAlignment="center"
               class="fa btn-alt animate-slide-up"></Label>
    </StackLayout>
    <Button class="btn btn-fail btn-rounded-lg"
            height="60"
            text="Failed"
            *ngIf="action !== 'fail'"
            [isEnabled]="!done"
            (tap)="onAction('fail')"></Button>
    <StackLayout class="btn btn-fail btn-rounded-lg"
                 height="60"
                 *ngIf="action === 'fail'">
        <Label class="status-icon" text="&#xf00d;"
               horizontalAlignment="center"
               verticalAlignment="center"
               class="fa btn-alt animate-slide-up"></Label>
    </StackLayout>
    <Button class="btn btn-flat btn-rounded-lg"
            height="60"
            [text]="cancelText"
            (tap)="onAction('cancel')"></Button>
</FlexboxLayout>
