<ns-action-bar [title]="isLogin ? 'Login': 'Register'"
               [showBackButton]="false"
               [hasMenu]="false"></ns-action-bar>
<StackLayout class="form" [formGroup]="form">
    <StackLayout class="input-field">
        <Label class="label"
               text="Email"
               [ngClass]="{invalid: !emailControlIsValid}"></Label>
        <TextField #emailEl
                   [autocorrect]="false"
                   autocapitalizationType="none"
                   class="input"
                   formControlName="email"
                   keyboardType="email"
                   required
                   returnKeyType="next"></TextField>
        <Label *ngIf="!emailControlIsValid"
               text="Please enter a valid email."></Label>
    </StackLayout>
    <StackLayout class="input-field">
        <Label class="label"
               text="Password"
               [ngClass]="{invalid: !passwordControlIsValid}"></Label>
        <TextField #passwordEl
                   (returnPress)="onInputDone()"
                   [autocorrect]="false"
                   [secure]="true"
                   autocapitalizationType="none"
                   class="input"
                   formControlName="password"
                   hint="Min. 6 characters."
                   required
                   returnKeyType="done"></TextField>
        <Label *ngIf="!passwordControlIsValid"
               text="Must be at least 6 characters long."></Label>
    </StackLayout>
    <Button [text]="isLogin ? 'Login' : 'Register'"
            [isEnabled]="emailControlIsValid"
            class="btn btn-primary btn-rounded-lg"
            *ngIf="!isLoading"
            (tap)="onSubmit()"></Button>
    <ActivityIndicator *ngIf="isLoading" [busy]="isLoading"></ActivityIndicator>
    <Button class="btn btn-flat btn-rounded-lg"
            [text]="isLogin ? 'Register' : 'Login'" (tap)="onSwitch()"></Button>
</StackLayout>
