/* Add mobile styles for the component here.  */
@import "../../../theme/colors";

FlexboxLayout {
  background: $color-white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20;
}
