$color-primary: #3773c8;
$color-secondary: #1e4ba5;
$color-tertiary: #e1f5fa;
$color-disabled: #ccc;

$color-success: #5fbe5f;
$color-fail: #f54137;
$color-warning: #ffc80a;

$color-white: #fefefe;
$color-black: #010101;
