/* Add mobile styles for the component here.  */
FlexboxLayout {
    border-color: green;
    border-width: 5;
    padding: 5;
    height: 300;
}

Label {
    width: 50;
    height: 50;
}

#i1 {
    background-color: red;
}

#i2 {
    background-color: yellow;
}

#i3 {
    background-color: orange;
}
