/* Add mobile styles for the component here.  */
@import "../../../theme/colors";

FlexboxLayout {
  background-image: url("res://mountains");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100;
}

.h1 {
  color: $color-white;
}

.btn {
  height: 50;
  font-weight: bold;
  width: 200;
}
