<ns-action-bar title="Today's Challenge"
               [showBackButton]="false"></ns-action-bar>

<FlexboxLayout class="flex-centered" *ngIf="!currentDay">
    <Label class="h1" text="No challenge found!"></Label>
    <Button class="btn btn-primary btn-rounded-lg"
            text="Create One!"
            nsRouterLink="/challenges/replace"
            pageTransition="slideLeft"></Button>
</FlexboxLayout>

<FlexboxLayout class="flex-centered" *ngIf="currentDay">
    <Label class="h1" [text]="currentDay.date | date"></Label>
    <ns-challenge-actions (actionSelected)="onChallengeActionSelected($event)"
                          [chosen]="getCurrentDayStatus()"
                          [startDone]="getCurrentDayStatus() === 'complete' || getCurrentDayStatus() === 'fail'"
                          cancelText="Reset"></ns-challenge-actions>
</FlexboxLayout>
