/* Add mobile styles for the component here.  */
@import "../../../theme/colors";

GridLayout {
  background-image: url("res://mountains");
  background-repeat: no-repeat;
  background-size: cover;
}
