@import '~nativescript-theme-core/scss/light';
/* Here we can overwrite theme variables */
@import "./theme/colors";

$btn-color: $color-primary;

@import '~nativescript-theme-core/scss/index';

ActionBar {
  background-color: $color-primary;
  color: white;
}

.form {
  align-items: center;
  height: 50%;
  flex-direction: column;
}

.input-field {
  width: 80%;

  .label {
    color: $color-primary;
    font-weight: bold;
  }

  .input {
    border-bottom-width: 2;
    border-color: $color-primary;
    width: 100%;
  }
}

.drawer-container {
  background: linear-gradient(140deg, #2b0c72, #5c3fa0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20;
}

.btn.btn-flat {
  background: $color-white;
  border-color: $color-white;
  border-width: 0;
  color: $color-primary;
}
