@import '~nativescript-theme-core/scss/light';
/* Here we can overwrite theme variables */
@import "./theme/colors";

$btn-color: $color-primary;

@import '~nativescript-theme-core/scss/index';

.fa {
  font-family: 'FontAwesome', 'Font-Awesome';
}

ActionBar {
  background-color: $color-primary;
  color: white;
}

.h1 {
  color: $color-primary;
  font-weight: bold;
  font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
}

.form {
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .input-field {
    width: 80%;

    .label {
      color: $color-primary;
      font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
      font-weight: bold;
    }

    .input {
      border-bottom-width: 2;
      border-color: $color-primary;
      width: 100%;
    }
  }
}

.drawer-container {
  background: linear-gradient(140deg, $color-primary, $color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20;

  .btn {
    font-size: 20;
    height: 45;
    width: 80%;
  }
}

.btn.btn-flat {
  background: $color-white;
  border-color: $color-white;
  border-width: 0;
  color: $color-primary;
}
