<ActionBar [title]="title" (loaded)="onLoadedActionBar()">
    <NavigationButton text="Back"
                      *ngIf="canGoBack"
                      (tap)="onGoBack()"
                      android.systemIcon="ic_menu_back"
    ></NavigationButton>
    <NavigationButton *ngIf="osIsAndroid && hasMenu"
                      icon="res://menu_black"
                      (tap)="onToggleMenu()"></NavigationButton>
    <ActionItem ios.position="left" *ngIf="!osIsAndroid && hasMenu">
        <Label text="MENU"></Label>
    </ActionItem>
</ActionBar>
